<section class="sect1 col-9 p-0">
    <div class="d-flex tab">
        <%= link_to 'Movie lines', lines_path, class: "tt-lk" %>    
    </div>
    <div class="line-form m-3 p-3 bg-white">
        <h4>Post Your favourite movie line</h4>
        <%= form_with model: Line.new do |f|%>
            <div class="form-group">
                <%= f.text_field :movie_title, placeholder: "Movie title", :class=>"form-control mb-2" %>
                <%= f.text_area :text, placeholder: "Enter your favourite movie line here ...", :class=>"form-control"%>
            </div>
           <div class="actions">
                <%= f.submit "Post", :class=>"btn btn-primary" %>
            </div>
        <%end%>
    </div>
    <div class="movie-lines m-3 p-3 bg-white">
     <%= render partial: 'line', collection:  @lines %>
    </div>      
</section>
 <section class="sect2  col-3 p-0">
        <div class="tab "><h4 class="m-0">Who to follow</h4></div>
        <div class="aside">
            <% list_to_follow.each do  |user|%>
                <div class="d-flex  align-items-center bg-light mb-2 p-1">
                    <div class="mr-2">
                        <%= image_tag user.cover_pic if user.cover_pic.attached? %>
                    </div>
                    <div class="flex-column">
                        <p class="font-weight-bold m-0 text-dark"><%= link_to user.fullname, user_path(user),:class=>"rlink" %></p>
                        <p class=" m-0">@<%= user.username %></p>
                    </div>
                    <div class="ml-auto mr-2">
                        <% follow_params = { followed_id: user.id, follower_id: current_user.id } %>
                            <%= link_to followings_path(follow_params), method: :post  do%>
                                    <span>
                                        <i class="fas fa-plus add"></i>
                                    </span>
                            <% end %>
                        </div>
                </div>
            <% end %>
        </div>

</section>
