<!DOCTYPE html>
<html>
  <head>
    <title>FavMovieLineCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  
      <% flash.each do |name,msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      
      <div class="main">
      <aside>
       <div>Contains logged in user info</div>
      </aside>
          <div>
            <%= user_actions(current_user) %>
            <%=link_to('Home', lines_path)%>
          </div>
        <section>
          <%= yield %>
        <section>
        <section>
          <div>Contains logged in user info</div>
        </section>
      <div>
  </body>
</html>
